.logo {
    max-height: 60px;
    padding-left: 20px;
  }
  
  .title {
    position: absolute;
    top: 10px; /* Adjust top positioning */
    right: 30px; /* Adjust right positioning */
    color: rgb(16, 51, 70);
    font-family: Arial;
  }
  
  .navbar {
    position: absolute;
    bottom: 10px; /* Adjust bottom positioning */
    right: 30px; /* Adjust right positioning */
    display: flex;
  }
  
  .navbar a {
    margin-left: 10px;
    padding: 5px 10px 5px 10px;
    color: rgb(16, 51, 70);
    font-family: Arial;
    font-weight: bold;
    transition: color 0.3s, box-shadow 0.3s; /* Add transition effect */
  }

  .navbar a:hover {
    color: rgb(16, 51, 70); /* Change color on hover */
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), -2px -2px 5px rgba(255, 255, 255, 0.3); /* Add raised button effect */
  }

  .greeting {
    margin-left: 10px;
    padding: 5px 10px 5px 10px;
    color: rgb(16, 51, 70);
    font-family: Arial;
    font-weight: bold;
  }