.mail {
  position: fixed;
  bottom: 0;
  left: 50%; /* Align to the center horizontally */
  transform: translateX(-50%); /* Center the element horizontally */
  width: 80%; /* Adjust the width as needed */
  max-width: 400px; /* Set a maximum width */
  background: linear-gradient(rgb(34, 116, 137), rgb(146, 200, 213));
  color: white;
  padding: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.mailInputContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Align content centered horizontally */
  gap: 10px;
}

.mailInputContainer > input {
  width: 100%; /* Adjust to fill the width of the container */
  height: 30px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.mailInputContainer > button {
  width: 100%; /* Adjust to fill the width of the container */
  height: 50px;
  background-color: rgb(16, 51, 70);
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}