/*about*/
.about .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 6rem;
  }
  
  .about .row .content {
    flex: 1 1 51rem;
  
  }
  
  .about .row .content h3 {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #34197f;
    text-align: center;
  
  }
  
  .about .row .content p {
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    padding: 1 rem 0;
    line-height: 1.8;
  }
  /*end*/