.search-bar {
    width: 80%;
    /* Set the width to 70% of the page */
    margin: 30px;
    /* Center the search bar horizontally and add margin */
    position: relative;
    margin-top: 0;
    /* Remove margin-top */
    margin-left: 20px;
    display: flex;
    align-content: center;
  }
  
  .search-inputs {
    display: flex;
    flex-direction: column;
    color: #888;
    font-size: 12px;
  }
  
  .row {
    display: flex;
    margin-bottom: 10px;
    /* Adjust margin as needed */
  
  }
  
  .row input,
  .row select {
    flex: 1;
    color: #888;
    font-size: 18px;
    margin-right: 10px;
    /* Adjust margin as needed */
    border-radius: 0.5rem;
  }
  
  .row input[type="date"],
  .row select {
    width: 33%;
    /* Adjust width as needed */
  }
  
  .search-button {
    padding: 10px 30px;
    /* Increase padding */
    background-color: #34197f;
    color: #fff;
    border: none;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    font-size: 24px;
    margin-top: -10px;
    /* Add margin-top */
    align-self: center;
    /* Center align the button */
  }
  
  /* Adjustments for better aesthetics */
  .search-input:focus,
  .date-input:focus,
  .guests-input:focus {
    outline: none;
    border-color: #34197f;
  }
  
  .search-button:hover {
    background-color: #0056b3;
  }