.container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background: linear-gradient(#ffffff, #a1b7e2);
    border-radius: 0 100px 0 100px;
    z-index: 0;
    margin: 0 auto;
  }
  
  .logo {
    flex: 1;
    /* Let the logo take up as much space as it needs */
    max-height: 120px;
    /* Allow the logo's height to adjust proportionally */
    padding: 0 0 0 20px;
    will-change: filter;
    transition: filter 300ms;
  }
  
  .logo:hover {
    filter: drop-shadow(0 0 25px #2761acaa);
  }
  
  .logo.react:hover {
    filter: drop-shadow(0 0 25px #123177aa);
  }
  
  .title {
    flex: 2;
    /* Let the title take up as much space as it needs */
    max-height: 100px;
    padding: 50px 20px 0 30px;
    will-change: filter;
    transition: filter 300ms;
    text-align-last: right;
    color: #0e4459;
  }
  
  .title:hover {
    filter: drop-shadow(0 0 15px #04274faa);
  }
  
  .title.react:hover {
    filter: drop-shadow(0 0 15px #0b306aaa);
  }